<%= form_for @feed, html: { multipart:  true }, remote: true do |f| %>

  <div class="form-group">
    <p><%= f.label :title %></p>
    <p><%= f.text_field :title, class: "form-control" %></p>
  </div>

  <div class="form-group">
    <p><%= f.label :url %></p>
    <p><%= f.text_field :url, class: "form-control" %></p>
  </div>

  <div class="form-group">
    <p><%= f.label :categories %></p>
    <%= hidden_field_tag "feed[category_ids][]", nil %>
    <% Category.all.each do |category| %>
      <%= check_box_tag "feed[category_ids][]", category.id, @feed.category_ids.include?(category.id), id: dom_id(category) %>
      <%= label_tag dom_id(category), category.title %></br>
    <% end %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
</br>

<%= form_for @feed, html: { multipart:  true }, remote: true do |f| %>

  <div class="form-group">
    <p><%= f.label :file, "Import Opml File" %></p>
    <p><%= f.file_field :file %></p>
  </div>

  <div class="form-group">
    <p><%= f.label :category %></p>
    <p><%= f.collection_select :category_id, Category.all, :id, :title, { prompt: "Choose a category" }, input_html: { class: "dropdown-toggle" } %></p>
  </div>

  <%= f.submit "Submit" %>
<% end %></br>
