<%= form_for @feed do |f| %>

  <div class="form-group">
    <p><%= f.label :title %></p>
    <p><%= f.text_field :title, class: "form-control" %></p>
  </div>

  <div class="form-group">
    <p><%= f.label :url %></p>
    <p><%= f.text_field :url, class: "form-control" %></p>
  </div>

  <%= f.submit "Submit" %>
<% end %></br>
