<ul class="list-group">
  <% items.each do |item| %>
    <li <%="data-published=#{item.published_at.to_json} id=latest" if item == items.first %>>
    <% if item.image_thumbnail_url %>
      <% video_code = item.url.split('=')[1] %>
      <%= link_to(image_tag(item.image_thumbnail_url, size: '400x300'), "http://www.youtube.com/watch?v=#{video_code}") %></br>
      <%= link_to "#{item.feed.title}: #{truncate(item.title, length: 115, omission: "...", escape: false) }", item.url, class: "feed-item" %>
      <%= link_to "More", feed_path(item.feed), remote: true, class: "btn" if params[:id].nil? %>
      <%= link_to "Add to favorites", add_to_favorites_path(id: item.id), remote: true, class: "btn" %>
      <%= link_to "Save for later", save_for_later_path(id: item.id), remote: true, class: "btn" %></br>
      <%= "#{item.published_at.strftime("%B %d, %Y %l:%M %p")},  #{time_ago_in_words(item.published_at)} ago" %>
    <% else %> 
      <%= link_to "#{item.feed.title}: #{truncate(item.title, length: 115, omission: "...", escape: false) }", item.url, class: "feed-item" %> 
      <%= link_to "More", feed_path(item.feed), remote: true, class: "btn" if params[:id].nil? %>
      <%= link_to "Add to favorites", add_to_favorites_path(id: item.id), remote: true, class: "btn" %>
      <%= link_to "Save for later", save_for_later_path(id: item.id), remote: true, class: "btn" %></br>
      <%= "#{item.published_at.strftime("%B %d, %Y %l:%M %p")},  #{time_ago_in_words(item.published_at)} ago" %>
    <% end %>
    </li>
  <% end %>
</ul>
