<%= will_paginate items %>

<%= link_to "Refresh", "#", title: "Refresh current feeds", id: "refresh-btn" %>
  <%# refresh_path(category_id: params[:category_id], id: params[:id]) %>

<ul id="so">
  <% items.each do |item| %>
    <li>
    <% if item.image_thumbnail_url %>
      <% video_code = item.url.split('=')[1] %>
      <iframe width="440" height="250" src="http://www.youtube.com/embed/<%= video_code %>?controls=1" allowfullscreen="allowfullscreen"></iframe></br>
      <%= link_to "#{item.feed.title}: #{truncate(item.title, length: 115, omission: "...", escape: false) }", item.url, class: "feed-item" %> <%= link_to "More", feed_path(item.feed), class: "btn" if params[:id].nil? %></br>
      <%= "#{item.published.strftime("%B %d, %Y %l:%M %p")},  #{time_ago_in_words(item.published)} ago" %>
    <% else %> 
      <%= link_to "#{item.feed.title}: #{truncate(item.title, length: 115, omission: "...", escape: false) }", item.url, class: "feed-item" %> <%= link_to "More", feed_path(item.feed), class: "btn" if params[:id].nil? %></br>
      <%= "#{item.published.strftime("%B %d, %Y %l:%M %p")},  #{time_ago_in_words(item.published)} ago" %>
    <% end %>
    </li>
  <% end %>
</ul>
