<h1>Feed page</h1>

<p><%= @feed.title%></p></br>
<p><%= @feed.url%></p></br>

<%= link_to "Edit", edit_feed_path(@feed), class: "btn btn-default" %>
<%= link_to "Back", feeds_path, class: "btn btn-default" %>
<%= link_to "Delete", @feed, method: :delete, data: { confirm: "Delete this feed?" }, class: "btn btn-default" %>

