<div class="text-center">
  <h1><%= @feed.title %></h1>

  <p>
    <%= link_to "Edit", edit_feed_path(@feed), class: "btn btn-default" %>
    <%= link_to "Delete", @feed, method: :delete,
                          data: { confirm: "Delete this feed?" }, class: "btn btn-default" %>
  </p>
  <p><%= will_paginate @items, renderer: BootstrapPagination::Rails %></p>

  <p class="btn btn-lg btn-primary">Refresh</p>
</div>
</br>

<div id="items">
  <%= render @items %>
</div>

<div class="text-center">
  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
</div>
