<div class="text-center">
  <h1>Sign up</h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name%><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <% if f.object.password_required? %>
    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  <% end %>

  <div class="text-center">
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
    </div>
<% end %>

    <h2>or</h2>
    </br>

    <p><%= link_to "Sign in with email", new_user_session_path, class: "btn btn-lg btn-primary" %></p>

    <%= render "devise/shared/links" %>
  </div>
