<%= link_to "Refresh", refresh_youtube_path %>
</br>
</br>
<%= link_to "Sync Subscribed Channels", sync_subscribed_channels_path %>

<% @videos.each do |video| %>
  <p><%= link_to image_tag(video.image), video.url %></p>
  <p><%= link_to video.title, video.url %></p>
  <p><%= video.published_at.strftime("%B %d, %Y %l:%M %p") %></p>
<% end %>

<%= will_paginate @videos %>
