<li class="list-group-item" data-published="<%= item.published_at %>">            
  <div>
    <div style="display:inline-block;">
      <%= link_to(image_tag(item.image_thumbnail_url, class: "", size: '115x75'), item.url) if item.image_thumbnail_url %></br>
    </div>

    <div style="display:inline-block; vertical-align: top;">
      <%= link_to "#{item.feed.title}: #{truncate(item.title, length: 67, omission: "...", escape: false)}", item.url, class: "website-link" %></br>
      <%= "#{item.published_at.strftime("%B %d, %Y %l:%M %p")},  #{time_ago_in_words(item.published_at)} ago" %>                                                                                                  
      </br>
      <%= link_to "More", feed_path(item.feed), class: "btn btn-default" if params[:id].nil? %>        
      <%= link_to "Add to favorites", add_to_favorites_path(id: item.id), remote: true, class: "btn btn-default" %>  
      <%= link_to "Save for later", save_for_later_path(id: item.id), remote: true, class: "btn btn-default" %></br> 
    </div>
  </div>
</li>                                                                                                
