<div class="text-center">
  <h1>Saved for later</h1>
</div>

<ul class="list-group">
  <% @items.each do |item| %>
    <% if item.image_thumbnail_url %>
        <li class="list-group-item">
          <% video_code = item.url.split('=')[1] %>
          <%= link_to(image_tag(item.image_thumbnail_url, size: '400x300'), "http://www.youtube.com/watch?v=#{video_code}") %></br>
          <%= link_to "#{item.feed.title}: #{truncate(item.title, length: 115, omission: "...", escape: false) }", item.url, class: "feed-item" %></br>
          <%= "#{item.published_at.strftime("%B %d, %Y %l:%M %p")},  #{time_ago_in_words(item.published_at)} ago" %></br>
          <%= link_to "Unsave", remove_from_saved_for_later_path(id: item.id), class: "btn btn-default", remote: true %>
        </li>
    <% else %>
      <li class="list-group-item">
        <%= link_to "#{item.feed.title}: #{truncate(item.title, length: 115, omission: "...", escape: false) }", item.url, class: "feed-item" %></br>
        <%= "#{item.published_at.strftime("%B %d, %Y %l:%M %p")},  #{time_ago_in_words(item.published_at)} ago" %></br>
        <%= link_to "Unsave", remove_from_saved_for_later_path(id: item.id), class: "btn btn-default", remote: true  %>
      </li>
    <% end %>
  <% end %>
</ul>
