<div class="banner">
  <h1><%= @category.title %></h1>
  <%= link_to "Edit", edit_category_path(@category), remote: true, class: "btn" %>
  <%= link_to "Delete", category_path(@category), remote: true, class: "btn", method: :delete,
                                       data: { confirm: "Delete this category?" }  %>
</div>

<%= will_paginate @items %>

<%= link_to "Refresh", refresh_feeds_path(category_id: params[:category_id], id: params[:id]), remote: true, title: "Refresh current feeds", id: "refresh-btn" %>

<div id="items">
  <%= render "feeds/items", items: @items %>
</div>

<%= will_paginate @items %>
