<header>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <ul class="nav nav-pills">
        <% if user_signed_in? %>

          <li><%= link_to "Home", root_path, class: 'logo' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feeds<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create new feed", new_feed_path %></li>
              <li><%= link_to "Show all feeds", feeds_path %></li>
              <li><%= link_to "Import OPML File", new_opml_import_path %></li>
              <li><%= link_to "Favorites", favorites_path %></li>
              <li><%= link_to "Saved for later", saved_for_later_path %></li>
            </ul>
          </li>

          <li><%= link_to "Youtube", subscriptions_path %></li>

          <li>
            <%= form_tag("/", method: "get", class: "inline-form") do %>
            <%= label_tag(:q, "Search:", class: "search-elements") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search") %>
            <% end %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit", edit_user_registration_path(current_user) %></li>
              <li><%= link_to "Identities", "#" %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" } %></li>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "Home", root_path, class: 'logo' %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In With Google+", user_google_oauth2_omniauth_authorize_path %></li>
        <% end%>
      </ul>
    </div>
  </nav>

</header>

