<header>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <ul class="nav nav-pills">
        <li><%= link_to "Feed Reader", root_path, class: 'logo' %></li>
        <div class="nav navbar-right">
          <ul class="nav nav-pills">
            <% if user_signed_in? %>
              <li><%= link_to "New Feed", new_feed_path %></li>
              <li><%= link_to "Manage Feeds", feeds_path %>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" }%>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %>
            <% end %>
          </ul>
        </div>
      </ul>
    </div>
  </nav>
</header>
