<header>
  <nav class="navbar navbar-inverse">
        <li><%= link_to "Feed Reader", root_path, class: 'logo' %></li>
      <% if user_signed_in? %>
              <% Category.all.each do |category| %>
                  <li><%= link_to category.title, root_path(category_id: category.id) %></li>
                  <li><%= link_to "Delete", category_path(id: category.id), method: :delete, data: { confirm: "Delete category: #{category.title}?" } %></li>
              <% end %>
       <% end %>
       <% if user_signed_in? %>
        <li><%= link_to "Add new category", new_category_path %></li>
        <li><%= link_to image_tag("refresh.jpeg"), refresh_path %></li>
        <li><%= link_to image_tag("subscribe.jpeg"), new_feed_path %></li>
        <li><%= link_to "Manage Feeds", feeds_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" }%></li>
      <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>

  </nav>
</header>
