<!DOCTYPE html>
<html>
  <head>
    <title>FeedReader</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-inverse">
        <ul class="nav nav-pills">
          <li><%= link_to "Home", feeds_path %></li>
          <li><%= link_to "New Feed", new_feed_path %></li>
        </ul>
      </nav>
    </header>

  <% if !flash.empty? %> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>
    <%= yield %>

  </body>
</html>
