<!DOCTYPE html>
<html>
  <head>
    <title>Pead Reader</title>
      <%= javascript_include_tag 'application' %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
      <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render "layouts/header" %>

    <% if controller_name == "youtube" || controller_name == "youtube_channels" %>
      <%= render "youtube/youtube_sidebar" %>
      <%= render "youtube/youtube_sidebar_header" %>
    <% else %>
      <%= render "layouts/sidebar_header" %>
      <%= render "layouts/sidebar" %>
    <% end %>

    <div class="container">
      <%= render "layouts/messages" %>

      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
