<!DOCTYPE html>
<html>
  <head>
    <title>FeedReader</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <ul class="nav nav-pills">
            <li><%= link_to "Feed Reader", root_path, class: 'logo' %></li>
            <% if user_signed_in? %>
              <li><%= link_to "My Feed", root_path %></li>
              <li><%= link_to "New Feed", new_feed_path %></li>
              <li><%= link_to "Manage Feeds", feeds_path %>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" }%>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <% if !flash.empty? %> 
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
        <%= yield %>
    </div>

  </body>
</html>
