<!DOCTYPE html>
<html>
  <head>
    <title>FeedReader</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <ul class="nav nav-pills">
            <li><%= link_to "My Feed", root_path %></li>
            <li><%= link_to "New Feed", new_feed_path %></li>
          </ul>
          </div>
          <div class="nav navbar-right">
            <li><%= link_to "Manage Feeds", feeds_path %>
          </div>
      </nav>
    </header>

    <div class="container">
      <% if !flash.empty? %> 
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
        <%= yield %>
    </div>

  </body>
</html>
